body {
  background-color: #f5efe6;
  -webkit-font-smoothing: antialiased;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: #284F77;
}

a:hover {
  color: #286177;
}

.container {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
}

.card {
  background-color: #fff;
  margin: 100px auto 0;
  border-radius: 4px;
  box-shadow: #C6C7A7 0px 0px 4px;
  padding: 40px 40px 0;
  box-sizing: border-box;
}

.card-img {
  border-radius: 100%;
  display: block;
  margin: -100px auto 0;
  border: 3px solid #fff;
  box-shadow: #CBAD62 0px 0px 4px;
  width: 100px;
  height: 100px;
}

.card-heading {
  text-align: center;
  color: #698185;
  font-size: 46px;
  margin: 20px 0;
}

.card-subheading {
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  color: #444;
}

.panel {
  margin: 60px -40px 0;
  background: #9BB89C;
  padding: 40px;
  box-shadow: inset #85A086 0px 3px 4px;
}

.buttons {
  text-align: center;
  margin: 60px 0;
}

.button {
  color: #fff;
  background-color: #D93F3F;
  padding: 10px 24px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 3px;
  border: 2px solid #CB2C2C;
  text-shadow: #240B0B 1px 1px 3px;
}

.button:hover {
  color: #fff;
  background-color: #D93F5B;
}

.social-nav > ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.social-nav > ul > li {
  display: inline-block;
  font-size: 50px;
  margin: 0 20px;
}

.social-nav > ul > li > a {
  text-decoration: none;
  color: #658B70;
}

.social-nav > ul > li > a:hover {
  color: #5A8567;
}

.footer {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  color: #7B7867;
  box-sizing: border-box;
}

.footer > p > a {
  white-space: nowrap;
  color: #7B7867;
}

.popup {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px;
  box-sizing: border-box;
  max-height: 90%;
  overflow-y: scroll;
  margin-top: 40px;
  box-shadow: #aaa 0px 0px 3px;
  position: relative;
}

.popup-enabled {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f5efe6;
}

.popup-disabled {
  display: none;
}

.popup-exit {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 26px;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    border-radius: 0;
  }

  .card-heading {
    font-size: 30px;
  }

  .card-subheading {
    font-size: 16px;
    line-height: 1.6;
  }

  .buttons {
    margin: 40px 0;
  }

  .button {
    font-size: 18px;
    padding: 10px;
  }

  .social-nav > ul > li {
    font-size: 40px;
    margin: 0px 14px;
  }

  .popup-enabled {
    position: relative;
  }

  .popup {
    width: 100%;
    margin-top: 0;
    max-height: 100%;
    overflow-y: initial;
  }
}